@* ! Brand demo (display only for navbar-full and hide on below xl) *@
@if (ViewData["navbarFull"] != null)
{
  <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
  <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="app-brand-link gap-2">
            <img width="200" src="~/img/logo/logo.png" />

  </a>

  @* ! Display menu close icon only for horizontal-menu with navbar-full *@
  @if (Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True")
    {
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
        <i class="mdi mdi-close align-middle"></i>
      </a>
    }
  </div>
}

@* ! Not required for layout-without-menu *@
@if (ViewData["navbarHideToggle"] == null)
{
  <div
  class='layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0  @((Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True") ? "" : "d-xl-none") @((@ViewData["contentNavbar"] != null && Convert.ToBoolean(@ViewData["contentNavbar"])) ? "" : "d-xl-none")'>
  <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
    <i class="mdi mdi-menu mdi-24px"></i>
  </a>
</div>
}

<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

  <!-- Search -->
  @if (Convert.ToBoolean(TempData.Peek("menuHorizontal")).ToString() != "True")
  {
    <div class="navbar-nav align-items-center">
      <div class="nav-item navbar-search-wrapper mb-0">
        <a class="nav-item nav-link search-toggler fw-normal px-0" href="javascript:void(0);">
          <i class="mdi mdi-magnify mdi-24px scaleX-n1-rtl"></i>
          <span class="d-none d-md-inline-block text-muted">Search (Ctrl+/)</span>
        </a>
      </div>
    </div>
  }
  <!-- /Search -->


  <ul class="navbar-nav flex-row align-items-center ms-auto">



    <!-- User -->
    <li class="nav-item navbar-dropdown dropdown-user dropdown">
      <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
          <img src="~/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item">
            <div class="d-flex">
              <div class="flex-shrink-0 me-3">
                <div class="avatar avatar-online">
                  <img src="~/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
                </div>
              </div>
              <div class="flex-grow-1">
                <span class="fw-medium d-block">Admin</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <a class="dropdown-item" >
            <i class="mdi mdi-account-outline me-2"></i>
            <span class="align-middle">My Profile</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item">
            <i class="mdi mdi-cog-outline me-2"></i>
            <span class="align-middle">Settings</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" >
            <span class="d-flex align-items-center align-middle">
              <i class="flex-shrink-0 mdi mdi-credit-card-outline me-2"></i>
              <span class="flex-grow-1 align-middle ms-1">Billing</span>
              <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
            </span>
          </a>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <a class="dropdown-item">
            <i class="mdi mdi-help-circle-outline me-2"></i>
            <span class="align-middle">FAQ</span>
          </a>
        </li>
        <li>
          <div class="dropdown-divider my-1"></div>
        </li>
        <li>
          <a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="Logout">
            <i class="mdi mdi-logout me-2"></i>
            <span class="align-middle">Log Out</span>
          </a>
        </li>
      </ul>
    </li>
    <!--/ User -->

  </ul>
</div>

